{% extends 'base.html' %}
{% block main %}
<h1>Create Category</h1>
<div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Create</button>
</form>
</div>



{% endblock main %}
